/* ============ MAIN BODY STYLES =================================== */

body {
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgb(126, 233, 236) 0%,
    rgb(139, 102, 241) 100%
  );
}

h1 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
p,
div,
footer {
  color: white;
}

/* ============== FORECAST ======================================= */

div {
  display: inline;
  min-height: 200px;
  min-width: 300px;
  border: 3px solid white;
}

.description {
  text-transform: capitalize;
}
