* {
  box-sizing: border-box;
}

body {
  background-image: url("images/sky.jpg");
}

.container {
  margin: 0 auto;

  max-width: 700px;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  color: white;
}

h1,
nav {
  margin-top: 30px;
}

h1 {
  margin-left: 30px;
  font-size: 56px;
}
/*======= CURRENT TEMP ===========*/
i.weatherCurrent {
  font-size: 70px;
  margin-left: 70px;
}
/*===== LARGE ICON ============ */
.fa-sun {
  color: orange;
}

h2 {
  font-size: 48px;
  margin-left: 170px;
}

li {
  font-family: "Roboto Mono", monospace;
  list-style: none;
}

ul.weatherCurrent li {
  font-size: 18px;
}

li span {
  font-weight: bold;
  font-size: 24px;
}

.weatherCurrent {
  margin-top: 20px;
}

.weatherCurrent li {
  line-height: 1.5;
}

button {
  border: 1px solid skyblue;
  border-radius: 25%;
  color: skyblue;
  background: white;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
}

button.current {
  border: none;
  border-radius: 5%;
  margin-top: 10px;
  float: left;
  padding: 10px;
  color: white;
  background: green;
}

button.convert {
  border: none;
  border-radius: 5%;
  margin-top: 10px;
  padding: 10px 15px;
  color: white;
  background: grey;
}

ul.list-group {
  margin-top: 20px;
  margin-left: 80px;
}

ul.list-group :first-child {
  background-color: transparent;
  color: black;
}

li.list-group-item {
  background-color: transparent;
  text-align: right;
}

section.weatherCurrent {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  margin-top: 90px;
}

.weatherCurrent p {
  margin-bottom: 5px;
  line-height: 1.2;
}

section.bottom {
  width: 90%;
  margin: 30px auto 20px auto;
}

div.col.day {
  border: 2px solid white;
  margin-bottom: 20px;
}

.day h2 {
  text-align: center;
}

.day i {
  align-items: center;
  font-size: 50px;
  padding-left: 10px;
}

.day p {
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}
